scikit-learn
xgboost
streamlit
streamlit-option-menu==0.3.6
streamlit_lottie
dotenv
google-generativeai
plotly
pandas
numpy
matplotlib
streamlit-folium 
folium
requests
pymongo
dnspython
bcrypt
smtplib
random